[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log __pretty=format:\"%h %ad || %s%d [%an]\" __graph __date=shortst
  hist5 = log __pretty=format:\"%h %ad || %s%d [%an]\" __graph __date=shortst __max_count=5
  type = cat_file _t
  dump = cat_file _p