body {
  display: flex;
  overflow-x: hidden;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #505050;
}
main {
  flex-grow: 1;
}
.header {
  margin-bottom: 10px;
}
nav {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.clear-fix:after {
  content: "";
  display: table;
  clear: both;
}
.wrapper {
  width: 100%;
  max-width: 1620px;
  margin: 0 auto 90px;
  padding: 0 15px;
  box-sizing: border-box;
}
._h1,
._h2 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.8px;
  display: inline-block;
}
._h3 {
  font-weight: normal;
  text-transform: unset;
  font-size: 36px;
  text-align: center;
  display: block;
  margin-bottom: 50px;
}
._h1 {
  text-transform: uppercase;
}
._h2_ico {
  text-transform: uppercase;
}
._h1:before,
._h2_ico:before {
  content: '';
  display: inline-block;
  width: 33px;
  height: 25px;
  background: url(../../img/main_icons_svg/icons_main_tema_dekor.svg) no-repeat;
  vertical-align: middle;
  margin-right: 15px;
}
._h4 {
  font-size: 18px;
  display: inline-block;
}
.sub-title {
  margin: 30px 0;
  text-align: center;
}
p {
  color: #505050;
  font-size: 16px;
}
.btn {
  font-family: 'Roboto', sans-serif;
  min-width: 200px;
  font-weight: 700;
  padding: 10px 20px;
  font-size: 1.3em;
  transition: .3s;
  cursor: pointer;
}
.btn_red {
  border: 2px solid #ed1b2f;
  background: rgba(255, 255, 255, 0);
}
.btn_red:hover {
  color: #ed1b2f;
}
.btn_goold {
  color: #ffffff;
  font-size: 21px;
  border: 2px solid #d1ae6c;
  background-color: #d1ae6c;
}
.btn_goold:hover {
  color: #505050;
  background-color: transparent;
}
.btn_cancel {
  font-weight: 700;
  border: none;
  background: none;
}
.btn_cancel:before {
  content: "";
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: -15px 15px;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9ItCh0LvQvtC5XzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNDYgNDYiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDQ2IDQ2IiB4bWw6c3BhY2U9InByZXNlcnZlIj48Zz48Y2lyY2xlIGZpbGw9IiNFREVERUQiIGN4PSIyMyIgY3k9IjIzIiByPSIyMyIvPjxnPjxsaW5lIGZpbGw9Im5vbmUiIHN0cm9rZT0iI0QxQUU2QyIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgeDE9IjMxLjk0NCIgeTE9IjE0LjA1NiIgeDI9IjE0LjA1NiIgeTI9IjMxLjk0NCIvPjxsaW5lIGZpbGw9Im5vbmUiIHN0cm9rZT0iI0QxQUU2QyIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgeDE9IjMxLjk0NCIgeTE9IjMxLjk0NCIgeDI9IjE0LjA1NiIgeTI9IjE0LjA1NiIvPjwvZz48L2c+PC9zdmc+) no-repeat;
  background-size: contain;
}
input:focus::placeholder,
textarea:focus::placeholder {
  opacity: 0.5;
}
textarea {
  box-sizing: border-box;
  border: 2px solid #cecece;
  padding: 15px;
  width: 100%;
  min-height: 150px;
  text-transform: uppercase;
  resize: none;
  margin-bottom: 25px;
  color: #505050;
}
input {
  box-sizing: border-box;
  position: relative;
  border: 0;
  border-bottom: 2px solid #cecece;
  padding: 0 0 15px;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 25px;
  color: #505050;
}
input::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}
input:focus {
  border-color: #d1ae6c;
  /*  &::before,
    &::after {
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transform-origin: center; // Ensure scaling is done from the center (expands outwards)
    }*/
  /*  &::before {
      border-top: 2px solid @sub-color;
      border-bottom: 2px solid @sub-color;
      transform: scale3d(0,1,1); // Shrink only width
    }*/
  /*  &::after {
      border-left: 2px solid @sub-color;
      border-right: 2px solid @sub-color;
      transform: scale3d(1,0,1); // Shrink only height
    }*/
  /*&:hover::before,
  &:hover::after {
    transform: scale3d(1,1,1); // Show full-size
    transition: transform 0.5s;
  }*/
}
